<?xml version="1.0" encoding="UTF-8"?>
<beans>
    <bean id="userService1" class="site.leiwa.springframework.bean.UserService" scope="prototype">
        <property name="id" value="10001"/>
        <property name="company" value="腾讯"/>
        <property name="location" value="深圳"/>
        <property name="userDao" ref="proxyUserDao"/>
    </bean>

    <bean id="proxyUserDao" class="site.leiwa.springframework.bean.ProxyBeanFactory"/>

    <bean class="site.leiwa.springframework.event.ContextRefreshedEventListener"/>

    <bean class="site.leiwa.springframework.event.CustomEventListener"/>

    <bean class="site.leiwa.springframework.event.ContextClosedEventListener"/>


    <bean id="userService" class="site.leiwa.springframework.bean.UserServiceImpl"/>

    <bean class="site.leiwa.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"/>

    <bean id="beforeAdvice" class="site.leiwa.springframework.bean.UserServiceImplBeforeAdvice"/>

    <bean id="methodInterceptor" class="site.leiwa.springframework.aop.framework.adapter.MethodBeforeAdviceInterceptor">
        <property name="advice" ref="beforeAdvice"/>
    </bean>

    <bean id="pointcutAdvisor" class="site.leiwa.springframework.aop.aspectj.AspectJExpressionPointcutAdvisor">
        <property name="expression" value="execution(* site.leiwa.springframework.bean.IUserService.*(..))"/>
        <property name="advice" ref="methodInterceptor"/>
    </bean>


</beans>