<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <bean id="userDao" class="site.leiwa.springframework.bean.UserDao"/>

    <bean id="userService" class="site.leiwa.springframework.bean.UserService">
        <property name="id" value="10001"/>
        <property name="company" value="腾讯"/>
        <property name="location" value="深圳"/>
        <property name="userDao" ref="userDao"/>
    </bean>

    <bean class="site.leiwa.springframework.common.MyBeanFactoryPostProcessor"/>
    <bean class="site.leiwa.springframework.common.MyBeanPostProcessor"/>

</beans>